.Container{
    display: flex;
    height: 100%;

}
.Content{
    width: 83%;
    height: 100vh;
}
.SideBar{
    width: 17%;
}
.Header {
    height: 6%;
}
.Outlet{
    height: 94%;
    background-color: #121212;
}