.container {
    flex: 1;

    width: 100%;
    padding: 25px;
    border-radius: 20px;

    background-color: #1E1E1E;
}

.title {
    margin-bottom: 30px;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: clamp(10px, 2vw, 20px);
}

.card {
    cursor: pointer;

    display: flex;
    align-items: center; 

    padding: clamp(0.4rem, 2.5vw, 0.7rem);
    border-radius: 12px;

    font-size: clamp(0.9rem, 2.2vw, 1.25rem);
    font-weight: 500;
    color: white;

    background-color: #333333;

    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #2a2a2a;
}

.icon {
    margin-right: 12px;
    color: #00c36a;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}